/* telerik r.a.d.panelbar 4 Telerik skin */

/* panelbae wrapper */
.RadPanelbar_Telerik
{
	background: white;
	white-space: nowrap;
	width: 217px !important;
}

.RadPanelbar_Telerik .text
{
	color: #666;
	padding: 0px 20px;
	font: normal 11px Arial, Verdana, Sans-serif;
	line-height: 26px;
}

.RadPanelbar_Telerik .image
{
	margin: 4px 0px;
}


.RadPanelbar_Telerik .rootGroup .text
{
	background: white url('Img/MainItemNormal.gif') repeat-x;
}

.RadPanelbar_Telerik .group .text
{
	background: transparent;
	padding: 0px 20px;
	color: black;
	line-height: 24px;
}

.RadPanelbar_Telerik .rootGroup .selected .text,
.RadPanelbar_Telerik .rootGroup .expanded .text
{
	background: white url('Img/MainItemSelected.gif') repeat-x;
	color: #333;
	font-weight: bold;
}

.RadPanelbar_Telerik .group .selected .text
{
	text-decoration: underline;
	font-weight: normal;
	background: none;
	color: black;
}

.RadPanelbar_Telerik .level2 .link
{
	background: url('Img/Bullet.gif') no-repeat 8px center;
	margin-left: 20px;
}

.RadPanelbar_Telerik .group .expanded .text,
.RadPanelbar_Telerik .group .selected .text
{
	text-decoration: underline;
	background: none;
	font-weight: normal;
}

.RadPanelbar_Telerik .rootGroup .disabled:hover,
.RadPanelbar_Telerik .rootGroup .disabled .text
{
	background: white url('Img/MainItemNormal.gif') repeat-x;
	color: #ccc;
	cursor: default;
}

.RadPanelbar_Telerik .rootGroup .group .disabled:hover,
.RadPanelbar_Telerik .rootGroup .group .disabled .text
{
	text-decoration: none;
	background: none;
	color: #ccc;
	cursor: default;
}

.RadPanelbar_Telerik .rootGroup .level2 .disabled:hover
{
	background: url('Img/Bullet.gif') no-repeat 8px center;
}
