.RadPanelbar_Vista
{
	background: #fff;
	color: #003399;
}

.RadPanelbar_Vista .rootGroup
{
	border: 1px solid #a7bac5;
	border-bottom-color: #8cabc0;
}

.RadPanelbar_Vista .rootGroup .item
{
	background: transparent url('Img/item-background.gif') repeat-x top left;
}

.RadPanelbar_Vista .rootGroup .link
{
	background: transparent url('Img/item-left.gif') no-repeat top left;
	height: 21px;
	line-height: 21px;
	border-bottom: 1px solid #3c7fb1;
	overflow: hidden;
}

.RadPanelbar_Vista .rootGroup .link:hover .text
{
	color: #0060ef;
}

.RadPanelbar_Vista .group .link:hover .text
{
	color: #000;
}

.RadPanelbar_Vista .rootGroup .text
{
	margin-left: 10px;
}

.RadPanelbar_Vista_rtl .rootGroup .text
{
	margin-right: 10px;
}

.RadPanelbar_Vista .group .item,
.RadPanelbar_Vista .group .link
{
	height: auto;
	border: 0;
	background: none;
}

.RadPanelbar_Vista .text
{
	margin-right: 7px;
	overflow-x: hidden;
}

.RadPanelbar_Vista_rtl .text
{
	margin-right: 0;
	margin-right: 7px;
}

.RadPanelbar_Vista .expandable .text
{
	background: transparent url("Img/arrow-expand.gif") no-repeat right 7px;
}

.RadPanelbar_Vista .expanded .text
{
	background: transparent url("Img/arrow-collapse.gif") no-repeat right 7px;
}

.RadPanelbar_Vista .group .expanded .text
{
	background-position: right 5px;
}

.RadPanelbar_Vista_rtl .expandable .text
{
	background: transparent url("Img/arrow-expand.gif") no-repeat left 7px;
}

.RadPanelbar_Vista_rtl .expanded .text
{
	background: transparent url("Img/arrow-collapse.gif") no-repeat left 7px;
}

.RadPanelbar_Vista_rtl .group .expanded .text
{
	background-position: left 5px;
}

.RadPanelbar_Vista .group
{
	overflow-x: hidden;
	overflow-y: auto;
}

.RadPanelbar_Vista .rootGroup .text
{
	font: normal 12px SegoeUI, Arial, sans-serif;
	line-height: 14px;
	color: #003399;
	padding: 3px 7px 0 3px;
}

.RadPanelbar_Vista_rtl .rootGroup .text
{
	padding: 3px 3px 0 7px;
}

.RadPanelbar_Vista .group .text
{
	font-size: 11px;
	padding: 2px 7px 3px 0;
	color: #000;
}

.RadPanelbar_Vista_rtl .rootGroup .text
{
	padding: 2px 0 3px 7px;
}

.RadPanelbar_Vista .group .link
{
	margin-right: 2px;
	display: block;
	width: auto;
}

.RadPanelbar_Vista_rtl .group .link
{
	text-indent: 3px;
}

.RadPanelbar_Vista .level1 .link
{
	margin-left: 0;
}

.RadPanelbar_Vista .level2 .link
{
	margin-left: 10px;
}

.RadPanelbar_Vista .level3 .link
{
	margin-left: 20px;
}

.RadPanelbar_Vista_rtl .level1 .link
{
	margin-right: 0;
	margin-left: 0;
}

.RadPanelbar_Vista_rtl .level2 .link
{
	margin-right: 10px;
	margin-left: 0;
}

.RadPanelbar_Vista_rtl .level3 .link
{
	margin-right: 20px;
	margin-left: 0;
}

.RadPanelbar_Vista_rtl .group .link
{
	margin-left: 2px;
}

.RadPanelbar_Vista .group .text
{
	margin-right: 0;
}

.RadPanelbar_Vista .group .link:hover
{
	background: transparent url("Img/subitem-hover.gif") no-repeat 2px top;
}

.RadPanelbar_Vista .group .link:hover .text
{
	background: transparent url("Img/subitem-hover.gif") no-repeat top right;
}

.RadPanelbar_Vista .group .expandable:hover
{
	background: transparent url("Img/subitem-expandable-hover.gif") no-repeat 2px top;
}

.RadPanelbar_Vista .group .expandable:hover .text
{
	background: transparent url("Img/subitem-expandable-hover.gif") no-repeat right top;
}

.RadPanelbar_Vista .group .expanded:hover
{
	background: transparent url("Img/subitem-expanded-hover.gif") no-repeat 2px top;
}

.RadPanelbar_Vista .group .expanded:hover .text
{
	background: transparent url("Img/subitem-expanded-hover.gif") no-repeat right top;
}

.RadPanelbar_Vista_rtl .group .expandable:hover
{
	background: transparent url("Img/subitem-expandable-hover-rtl.gif") no-repeat 12px top;
}

.RadPanelbar_Vista_rtl .group .expandable:hover .text
{
	background: transparent url("Img/subitem-expandable-hover-rtl.gif") no-repeat left top;
}

.RadPanelbar_Vista_rtl .group .expanded:hover
{
	background: transparent url("Img/subitem-expanded-hover-rtl.gif") no-repeat 12px top;
}

.RadPanelbar_Vista_rtl .group .expanded:hover .text
{
	background: transparent url("Img/subitem-expanded-hover-rtl.gif") no-repeat left top;
}


/* these should be checked */

.RadPanelbar_Vista .rootGroup .selected .text
{
	font-weight: bold;
}

.RadPanelbar_Vista .group .selected .text
{
	font-weight: normal;
	text-decoration: underline;
}

.RadPanelbar_Vista .disabled .text
{
	cursor: default;
	color: #bbb;
}

.RadPanelbar_Vista .rootGroup .disabled:hover
{
	cursor: default;
	text-decoration: none;
}

.RadPanelbar_Vista .rootGroup .disabled:hover .text
{
	color: #bbb;
}

.RadPanelbar_Vista .group .disabled:hover
{
	border-bottom: 0;
	cursor: default;
	text-decoration: none;
	background: none;
}

.RadPanelbar_Vista .group .disabled:hover .text
{
	background: none;
}

.RadPanelbar_Vista .group .last
{
	zoom: 1;
}