/* Telerik RadInput Black Skin */

.radInput_Black
{
	font: normal 11px "segoe ui",arial,verdana,tahoma,sans-serif;	
	vertical-align: middle;
}

.radInput_Black table,
.radInput_Black table td
{	
	border: 0;
	margin: 0;
	padding: 0;
	overflow:visible;
}

.radInput_Black textarea
{
	vertical-align:bottom;
	overflow:auto;
}

.radInput_Black .spinImgCell
{
	vertical-align:middle;
}

.radInput_Black td.inputCell
{
	padding:0 4px 0 0;
}

/* SPIN BUTTONS */
.radInput_Black a.spinbutton
{
	display:block;
	text-indent:-9999px;
	width:14px;
	height:8px; 
	line-height:8px;
	background:url('Img/SpinButtonSprites.gif') center 2px no-repeat;
	font-size:1px;
	position:relative;
	z-index:2; 	
	_position:static;
	outline:none;	
}
*+html .radInput_Black a.spinbutton
{
	position:static;
}

.radInput_Black a.up
{
	background-position:center 1px;
}

.radInput_Black a.down
{
	background-position:center -8px;
}

.radInput_Black a.gobutton
{
	display: block;
	text-indent: -9999px;
	width: 20px;
	height: 20px; 
	line-height: 20px;
	background: transparent url('Img/button.gif') no-repeat;
	font-size: 1px;
	position: relative; 
	_position: static; 
	outline: none;
}
*+html .radInput_Black a.gobutton
{
	position: static;
}

/* INPUT STYLES SETTINGS */

.radEnabledCss_Black,
.radEmptyMessageCss_Black,
.radHoverCss_Black,
.radFocusedCss_Black,
.radNegativeCss_Black,
.radDisabledCss_Black,
.radInvalidCss_Black
{
	font: normal 11px/12px "segoe ui",arial,verdana,tahoma,sans-serif;
	padding:2px 0 2px 1px;
}

.radEnabledCss_Black 
{
	color:#666;
	border:solid 1px #242424;
	background:#1a1a1a;
}

.radHoverCss_Black 
{
	color:#666;	
	border:solid 1px #303030;
	background:#1a1a1a;
}

.radDisabledCss_Black
{
	color:#444;
	border:solid 1px #222;
	background:#1a1a1a;
}

.radEmptyMessageCss_Black
{
	color: #666;
	border:1px solid #242424;
	background:#1a1a1a;
}

.radFocusedCss_Black
{
	border:1px solid #373737;
	color:#b4b4b4;
	background:#1a1a1a;
}

.radNegativeCss_Black 
{
	color:#666;
	border:solid 1px #242424;
	background:#1a1a1a;
}

.radInvalidCss_Black 
{
	border:1px solid #444;
	color: #ddd;
	background:#1a1a1a;
}

.radLabelCss_Black
{	  
	color: #666;
	font: normal 11px "segoe ui",arial,tahoma,sans-serif;
	white-space:nowrap;
}

.radHint_Black 
{
	background:#292929;
	border:1px solid #070707;
	margin:5px 0 0 5px;
	padding:4px;
	font:normal 11px "segoe ui",arial,tahoma,sans-serif;
	text-align:left;
	color:#717171;
}

.radHint_Black a,
.radHint_Black a:visited,
.radHint_Black a:hover
{
	margin: 2px;
	color: black;
	text-decoration: none;
	color:#717171;
}
