/* border style definition */
.RadSplitter_Vista,
.RadSplitter_Vista .resizeBar,
.RadSplitter_Vista .slideContainerResize,
.RadSplitter_Vista .resizeBarOver,
.RadSplitter_Vista .slideContainerResizeOver,
.RadSplitter_Vista .slideContainerResizeHorizontal,
.RadSplitter_Vista .slideContainerResizeOverHorizontal,
.RadSplitter_Vista .resizeBarInactive,
.RadSplitter_Vista .resizeBarHorizontal,
.RadSplitter_Vista .resizeBarOverHorizontal,
.RadSplitter_Vista .resizeBarInactiveHorizontal,
.RadSplitter_Vista .pane, 
.RadSplitter_Vista .paneHorizontal
{
	border: 1px solid #6593cf;
}

.RadSplitter_Vista
{
	border-collapse: collapse;
	border-bottom:1px; /* half the size of the border, but at least 1px */
}

.RadSplitter_Vista .pane,.RadSplitter_Vista .paneHorizontal 
{
	padding: 0px;
	text-align:left;
}

.RadSplitter_Vista .resizeBar,
.RadSplitter_Vista .slideContainerResize,
.RadSplitter_Vista .resizeBarOver,
.RadSplitter_Vista .slideContainerResizeOver,
.RadSplitter_Vista .resizeBarInactive,
.RadSplitter_Vista .slideContainerResizeHorizontal,
.RadSplitter_Vista .slideContainerResizeOverHorizontal,
.RadSplitter_Vista .resizeBarHorizontal,
.RadSplitter_Vista .resizeBarOverHorizontal,
.RadSplitter_Vista .resizeBarInactiveHorizontal
{
	padding: 0px;
	font-size:1px;
	background: #638ec8 url(Img/resizeBarBg.gif) repeat-x;
	text-align:center;
}

.RadSplitter_Vista .resizeBar,
.RadSplitter_Vista .slideContainerResize,
.RadSplitter_Vista .resizeBarOver,
.RadSplitter_Vista .slideContainerResizeOver,
.RadSplitter_Vista .resizeBarInactive
{
	
	width:4px;	
}

.RadSplitter_Vista .resizeBarHorizontal,
.RadSplitter_Vista .resizeBarOverHorizontal,
.RadSplitter_Vista .slideContainerResizeHorizontal,
.RadSplitter_Vista .slideContainerResizeOverHorizontal,
.RadSplitter_Vista .resizeBarInactiveHorizontal
{
	height:4px;
}

.RadSplitter_Vista .resizeBarOver, 
.RadSplitter_Vista .resizeBarOverHorizontal
{
	border:1px solid #4a70a2;
}

/********************* Helper Bar ******************************/
.RadSplitter_Vista .helperBarDrag, 
.RadSplitter_Vista .helperBarSlideDrag,
.RadSplitter_Vista .helperBarSlideDragHorizontal,
.RadSplitter_Vista .helperBarDragHorizontal
{
	font-size:1px;
	background-color:#ccc;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60); 

	opacity: 0.6;
}

/* resize bar onerror */
.RadSplitter_Vista .helperBarError, 
.RadSplitter_Vista .helperBarSlideError,
.RadSplitter_Vista .helperBarErrorHorizontal
{
	font-size:1px;
	background-color: #f60;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60); 
	opacity: 0.6;
}

/********************* Colapse Bar *****************************/

.RadSplitter_Vista .collapseBar
{	

}

.RadSplitter_Vista .collapseBarHorizontal
{	

}

.RadSplitter_Vista .collapseBarOver, 
.RadSplitter_Vista .collapseBarOverHorizontal
{
	background: #e6f0fd;
}

.RadSplitter_Vista .collapseBarOver 
{
	border-top: 1px solid #4a70a2;
	border-bottom: 1px solid #4a70a2;
	background: url(Img/splitBarOver.gif);
}

.RadSplitter_Vista .collapseBarOverHorizontal
{
	border-left: 1px solid #4a70a2;
	border-right: 1px solid #4a70a2;
	background: url(Img/splitBarHorizontalOver.gif);
}



.RadSplitter_Vista .collapseBarError, 
.RadSplitter_Vista .collapseBarErrorHorizontal
{
	background-color:red;
}

/***********************************************/
/*             SLIDE                           */
/***********************************************/

/************************************************
	sliding zone 
*/
.RadSplitter_Vista .slideZone
{
	background: white;
}

/************************************************ 
	pane tabs 
*/
.RadSplitter_Vista .tabsContainer 
{
	color: #333;
}

.RadSplitter_Vista .paneTabContainer,
.RadSplitter_Vista .paneTabContainerExpanded,
.RadSplitter_Vista .paneTabContainerDocked,
.RadSplitter_Vista .paneTabContainerHorizontal,
.RadSplitter_Vista .paneTabContainerExpandedHorizontal,
.RadSplitter_Vista .paneTabContainerDockedHorizontal
{
	width: 21px;
	height: auto;
	overflow: hidden;
	cursor: default;
	text-align: center;
	font-size: 1px;
	color: #15428b;
	padding: 6px 0px;
	background: url('Img/paneTabContainer.gif') repeat-y;
	border-top: solid 1px #f3f7fd;
	border-right: solid 1px #92a5c7;
	border-bottom: solid 1px #92a5c7;
}

.RadSplitter_Vista .paneTabContainerExpanded,
.RadSplitter_Vista .paneTabContainerDocked
{
	background: url('Img/paneTabContainerExpanded.gif') repeat-y;
	color: #15428b;
}

/***** tabs on right position *******/


.RadSplitter_Vista .tabsContainer.right
{
	width: 23px;
}


.RadSplitter_Vista .right .paneTabContainer,
.RadSplitter_Vista .right .paneTabContainerExpanded,
.RadSplitter_Vista .right .paneTabContainerDocked
{
	background: url('Img/paneTabContainerRight.gif') repeat-y right;
	width: 20px;
	border-top: solid 1px #f3f7fd;
	border-left: solid 1px #92a5c7;
	border-bottom: solid 1px #92a5c7;
	color: #15428b;
}


.RadSplitter_Vista .right .paneTabContainerExpanded,
.RadSplitter_Vista .right .paneTabContainerDocked
{
	background: url('Img/paneTabContainerExpandedRight.gif') repeat-y right;
	color: #15428b;
}

/*****  -- End tabs on right position *******/

/***** tabs on top position *******/

.RadSplitter_Vista .tabsContainer .top
{
	height: 23px;
}


.RadSplitter_Vista .top .paneTabContainer,
.RadSplitter_Vista .top .paneTabContainerExpanded,
.RadSplitter_Vista .top .paneTabContainerDocked
{
	background: url('Img/paneTabContainerTop.gif') repeat-x top;
	height: 20px;
	border-right: solid 1px #f3f7fd;
	border-top: solid 1px #92a5c7;
	border-bottom: solid 1px #92a5c7;
	border-left: solid 1px #92a5c7;
	color: #15428b;											
	float:left;
	padding: 0px 6px;
	width:auto;
}


.RadSplitter_Vista .top .paneTabContainerExpanded,
.RadSplitter_Vista .top .paneTabContainerDocked
{
	background: url('Img/paneTabContainerExpandedTop.gif') repeat-x top;
	color: #15428b;
}

.RadSplitter_Vista .top .paneTabText
{
	writing-mode: lr-tb;/* default */
}

/***** tabs on bottom position *******/

.RadSplitter_Vista .tabsContainer .bottom
{
	height: 23px;
}

.RadSplitter_Vista .bottom .paneTabContainer,
.RadSplitter_Vista .bottom .paneTabContainerExpanded,
.RadSplitter_Vista .bottom .paneTabContainerDocked
{
	background: url('Img/paneTabContainerBottom.gif') repeat-x top;
	height: 20px;
	border-right: solid 1px #f3f7fd;
	border-bottom: solid 1px #92a5c7;
	border-top: 0px;
	border-left: solid 1px #92a5c7;
	color: #15428b;											
	float:left;
	padding: 0px 6px;
	width:auto;
}


.RadSplitter_Vista .bottom .paneTabContainerExpanded,
.RadSplitter_Vista .bottom .paneTabContainerDocked
{
	background: url('Img/paneTabContainerExpandedBottom.gif') repeat-x top;
	color: #15428b;
}

.RadSplitter_Vista .bottom .paneTabText
{
	writing-mode: lr-tb;/* default */
}

/*****  -- End tabs on bottom position *******/

.RadSplitter_Vista .paneTabText
{
	writing-mode: tb-rl;
	font: 10px Verdana, Arial, Helvetica;
	white-space:nowrap;
	margin:2px;
}

.RadSplitter_Vista .paneTabIcon
{
	margin:2px;
}

/************************************************ 
	slide/dock containers 
*/
.RadSplitter_Vista .slideContainer 
{
	border:0px solid #073b96;
	border-collapse:collapse;
}

.RadSplitter_Vista .slideContainerDocked
{
	
}

.RadSplitter_Vista .slideHeader, 
.RadSplitter_Vista .slideHeaderDocked
{
	background: url('Img/slideHeader.gif') repeat-x;
	height: 18px;
}

.RadSplitter_Vista .slideContainerResize,
.RadSplitter_Vista .slideContainerResizeHorizontal,
.RadSplitter_Vista .slideContainerResizeOver,
.RadSplitter_Vista .slideContainerResizeOverHorizontal
{ 
     background: #a4c3eb none;
     border-left: solid 1px #6593cf;
     border-right: solid 1px #6593cf;
     width: 2px;
}

.RadSplitter_Vista .slideContainerResize,
.RadSplitter_Vista .slideContainerResizeOver
{
	border-top: 0px;
	border-bottom: 0px;
}

.RadSplitter_Vista .slideContainerResizeHorizontal,
.RadSplitter_Vista .slideContainerResizeOverHorizontal
{
	border-left:0px;
	border-right:0px;
}

.RadSplitter_Vista .slideHeaderIcon,
.RadSplitter_Vista .slideHeaderIconOver
{
	margin: 3px;
	cursor: hand;
	cursor: pointer;
} 

.RadSplitter_Vista .slideTitle, 
.RadSplitter_Vista .slideTitleDocked 
{
	font: bold 11px Verdana;
	color: #15428b;
	white-space: nowrap;
	margin-left: 5px;
	margin-right: 5px;
	text-align: left;
	line-height: 18px;
}

.RadSplitter_Vista .slideTitleContainer
{
	background: #b8cfe9 url(Img/slideHeader.gif) repeat-x;
	height: 18px;
}

.RadSplitter_Vista .slideContent, 
.RadSplitter_Vista .slideContentDocked
{
	font:10px Verdana;
	color:black;
	background-color:white;
	padding:5px;
	text-align:left;
}

.RadSplitter_Vista .helperBarSlideDrag,
.RadSplitter_Vista .slideContainerResize,
.RadSplitter_Vista .slideContainerResizeOver
{
	cursor:w-resize;
}

.RadSplitter_Vista .helperBarSlideDragHorizontal,
.RadSplitter_Vista .slideContainerResizeHorizontal,
.RadSplitter_Vista .slideContainerResizeOverHorizontal
{
	cursor:n-resize;
}

.RadSplitter_Vista .resizeBarHorizontal,
.RadSplitter_Vista .resizeBarInactiveHorizontal
{
	background: #638ec8 none;
	height:8px;
}

.RadSplitter_Vista .resizeBarOver,
.RadSplitter_Vista .resizeBarOverHorizontal
{
	background: #f9f9f9 none;
}
/********************* Helper Bar ******************************/
.RadSplitter_Vista .helperBarDrag, 
.RadSplitter_Vista .helperBarDragHorizontal
{
	font-size:1px;
	background-color:#ccc;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60); 
	opacity: 0.6;
}

/* resize bar onerror */
.RadSplitter_Vista .helperBarError, 
.RadSplitter_Vista .helperBarErrorHorizontal
{
	font-size:1px;
	background-color: #f60;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60); 
	opacity: 0.6;
}

/********************* Colapse Bar *****************************/

.RadSplitter_Vista .collapseBar
{	

}

.RadSplitter_Vista .collapseBarHorizontal
{	

}

.RadSplitter_Vista .collapseBarOver
{
	background: #f9f9f9;
	border-top: 1px solid #c1c1c1;
	border-bottom: 1px solid #c1c1c1;
}

.RadSplitter_Vista .collapseBarOverHorizontal
{
	background: #f9f9f9;
	border-left: 1px solid #c1c1c1;
	border-right: 1px solid #c1c1c1;
}
.RadSplitter_Vista .collapseBarError, 
.RadSplitter_Vista .collapseBarErrorHorizontal
{
	background-color:red;
}


/*****************************************************************************/
/* these below are not skin/border size specific. Shared between all skins */
/*****************************************************************************/
.nested,
.nestedHorizontal 
{
	border-width: 0px;
}

/************ nested vertical ****************/
.nested .pane, 
.nested .resizeBar,
.nested .resizeBarOver,
.nested .resizeBarInactive  
{
	border-top: 0px;
	border-bottom: 0px;
}

.nested .pane.firstItem,
.nested .resizeBar.firstItem,
.nested .resizeBarOver.firstItem,
.nested .resizeBarInactive.firstItem
{
	border-left: 0px;
}

.nested .pane.lastItem, 
.nested .resizeBar.lastItem,
.nested .resizeBarOver.lastItem,
.nested .resizeBarInactive.lastItem
{
	border-right: 0px;
}

.nested .pane.firstItem.lastItem, 
.nested .resizeBar.firstItem.lastItem,
.nested .resizeBarOver.firstItem.lastItem,
.nested .resizeBarInactive.firstItem.lastItem
{
	border-left: 0px;
	border-right: 0px;
}

/************ nested horizontal ****************/

.nestedHorizontal .paneHorizontal, 
.nestedHorizontal .resizeBarHorizontal,
.nestedHorizontal .resizeBarOverHorizontal,
.nestedHorizontal .resizeBarInactiveHorizontal
{
	border-left: 0px;
	border-right: 0px;
}

.nestedHorizontal .paneHorizontal.firstItem,
.nestedHorizontal .resizeBarHorizontal.firstItem,
.nestedHorizontal .resizeBarOverHorizontal.firstItem,
.nestedHorizontal .resizeBarInactiveHorizontal.firstItem
{
	border-top: 0px;
}

.nestedHorizontal .paneHorizontal.lastItem, 
.nestedHorizontal .resizeBarHorizontal.lastItem,
.nestedHorizontal .resizeBarOverHorizontal.lastItem,
.nestedHorizontal .resizeBarInactiveHorizontal.lastItem
{
	border-bottom: 0px;
}

.nestedHorizontal .paneHorizontal.firstItem.lastItem, 
.nestedHorizontal .resizeBarHorizontal.firstItem.lastItem,
.nestedHorizontal .resizeBarOverHorizontal.firstItem.lastItem,
.nestedHorizontal .resizeBarInactiveHorizontal.firstItem.lastItem
{
	border-top: 0px;
	border-bottom: 0px;
}

