/* Default r.a.d.panelbar 4 SiteFinity skin */

.RadPanelbar_SiteFinity
{
	background: #4693b6;
	white-space: nowrap;
}

.RadPanelbar_SiteFinity .rootGroup
{
	padding: 20px;
}

.RadPanelbar_SiteFinity .text
{
	color: white;
	padding: 0px 8px;
	font: normal 11px Arial, Verdana, Sans-serif;
}

.RadPanelbar_SiteFinity .image
{
	margin: 4px 0px;
}

.RadPanelbar_SiteFinity .rootGroup .text
{
	line-height: 24px;
	color: White;
	background: url('Img/ArrowLeft.gif') no-repeat left center;
}

.RadPanelbar_SiteFinity .rootGroup .link
{
	background: #4693b6;
	border-bottom: solid 1px #90bbcf;
	padding-left: 8px;
}

.RadPanelbar_SiteFinity .group .text
{
	background: none;
	color: white;
}

.RadPanelbar_SiteFinity .group
{
	background: #4693b6 url('Img/SlideBg.gif');
}

.RadPanelbar_SiteFinity .group .link
{
	background: none;
	border-bottom: 0px;
}

.RadPanelbar_SiteFinity .group .link .selected
{
	background: url('Img/ArrowLeft.gif') no-repeat left center;
}

.RadPanelbar_SiteFinity .group .selected
{
	background: none;
	border-bottom: 0px;
}

.RadPanelbar_SiteFinity .rootGroup .selected .text
{
	background: url('Img/ArrowLeft.gif') no-repeat left center;
}

.RadPanelbar_SiteFinity .rootGroup .expanded .text
{
	background: url('Img/ArrowDown.gif') no-repeat left center;
}

.RadPanelbar_SiteFinity .group .selected .text
{
	font-weight: normal;
	background: url('Img/Plus.gif') no-repeat left center;
	color: white;
	line-height: 24px;
}

.RadPanelbar_SiteFinity .group .expanded .text
{
	color: white;
	background: url('Img/Minus.gif') no-repeat left center;
}

.RadPanelbar_SiteFinity .level2 .text
{
	padding-left: 16px;
	line-height: 24px;
	background: none;
}

.RadPanelbar_SiteFinity .level2 .selected .text,
.RadPanelbar_SiteFinity .level2 .expanded .text
{
	background: none;
	text-decoration: underline;
}

.RadPanelbar_SiteFinity .rootGroup .disabled:hover,
.RadPanelbar_SiteFinity .rootGroup .disabled .text
{
	background: #4693b6;
	color: #ccc;
	cursor: default;
}

.RadPanelbar_SiteFinity .rootGroup .group .disabled:hover,
.RadPanelbar_SiteFinity .rootGroup .group .disabled .text
{
	text-decoration: none;
	background: none;
	color: #ccc;
	cursor: default;
}
