/* telerik r.a.d.panelbar 4 Mac skin */

.RadPanelbar_Mac
{
	background: white;
	white-space: nowrap;
}

.RadPanelbar_Mac .rootGroup
{
	border: solid 1px #ccc;
}

.RadPanelbar_Mac .text
{
	padding: 0px 20px;
	font: bold 11px Arial, Verdana, Sans-serif;
	padding-top: 3px;
	padding-bottom: 3px;
}


.RadPanelbar_Mac .image
{
	margin: 4px 0px;
}

/* root item */
.RadPanelbar_Mac .rootGroup .text
{
	border-top: solid 1px #d0d0d0;
	border-left: solid 1px #d0d0d0;
	border-right: solid 1px #a7a7a7;
	border-bottom: solid 1px #a7a7a7;
	background: #f3f9fb url('Img/MainItemNormal.gif') repeat-x;
	font-weight: bold;
}

.RadPanelbar_Mac .rootGroup .link
{
	color: #6f7376;
}

.RadPanelbar_Mac .group .text
{
	border: 0;
	background: white url('Img/ChildItemBackground.gif');
	font-weight:normal;
	padding: 4px 20px;
}

.RadPanelbar_Mac .level2 .text
{
	padding: 2px 20px 2px 30px;
}

.RadPanelbar_Mac .group .link:hover
{
	color: #333;
}

.RadPanelbar_Mac .rootGroup .selected .text
{
	border-top: solid 1px #d0d0d0;
	border-left: solid 1px #d0d0d0;
	border-right: solid 1px #a7a7a7;
	border-bottom: solid 1px #a7a7a7;
	background: #f3f9fb url('Img/MainItemNormal.gif') repeat-x;
}

.RadPanelbar_Mac .group .selected .text
{
	background: white url('Img/ChildItemBackground.gif');
	border: 0px;
	color: #333;
}

.RadPanelbar_Mac .rootGroup .disabled:hover,
.RadPanelbar_Mac .disabled .text
{
	background: #f3f9fb url('Img/MainItemNormal.gif') repeat-x;
	color: #ccc;
	cursor: default;
}


.RadPanelbar_Mac .rootGroup .group .disabled:hover,
.RadPanelbar_Mac .rootGroup .group .disabled .text
{
	text-decoration: none;
	background: white url('Img/ChildItemBackground.gif');
	color: #ccc;
	cursor: default;
}
