/* VistaBlue Toolbar Skin Stylesheet */

.office2007_radtoolbar_horizontal
{
	background: #d3d9e9 url('img/toolbarBgH.gif') repeat-x;
	border-collapse: collapse;
	vertical-align: top;
}

.office2007_radtoolbar_horizontal span
{
	font: normal 10px Verdana, Arial, Sans-serif;
	line-height: 16px;
	display: block;
}

.office2007_radtoolbar_horizontal img
{
	float: left;
	margin-left: 3px;
}

.office2007_radbutton_normal 
{
	background: transparent url('img/buttonNormalBg.gif') no-repeat top right;
	cursor: default;
	height: 22px !important;
	width: 25px !important;
}

.office2007_radbutton_hover,
.office2007_radtbutton_hover
{
	background: transparent url('img/btnHoverBg.gif') no-repeat top right;
	cursor: default;
	height: 22px !important;
	width: 25px !important;
}

.office2007_radbutton_disabled
{
	background: transparent url('img/buttonNormalBg.gif') no-repeat;
	border: 0px;
	cursor: default;
	cursor: no-drop;
	filter: progid:DXImageTransform.Microsoft.Alpha(style=1,opacity=40,finishOpacity=100,startX=100,finishX=100,startY=100,finishY=100);
	-moz-opacity: .40;
	height: 20px !important;
	width: 25px !important;
}

.office2007_radtbutton_normal 
{
	background: transparent url('img/buttonNormalBg.gif') no-repeat top right;
	cursor: default;
	height: 22px !important;
	width: 25px !important;
}

.office2007_radtbutton_toggled,
.office2007_radtbutton_hover_toggled,
.office2007_radbutton_mousedown,
.office2007_radtbutton_mousedown
{
	cursor: default;
	height: 22px !important;
	width: 25px !important;
	background: #adcaea url('img/ButtonClickedBg.gif') no-repeat top right;
}

.office2007_radtbutton_disabled
{
	background: transparent;
	border: none;
	cursor: default;
	height: 22px !important;
	width: 27px !important;
}

/* vertical toobar */
.office2007_radtoolbar_vertical
{
	background: url('img/toolbarBgV.gif') repeat-y;
	font: normal 11px Verdana, Arial, Sans-serif;
	border-collapse: collapse;
	border-top: 0px;
	border-bottom: 0px;
	vertical-align: top;
}	

.office2007_radtoolbar_vertical .office2007_radbutton_normal,
.office2007_radtoolbar_vertical .office2007_radtbutton_normal,
.office2007_radtoolbar_vertical .office2007_radbutton_disabled
{
	background: url('img/VerticalToolbarBtnNormal.gif') no-repeat top center;
	width: 22px !important;
	height: 25px !important;
}

.office2007_radtoolbar_vertical .office2007_radbutton_hover,
.office2007_radtoolbar_vertical .office2007_radtbutton_hover
{
	background: url('img/VerticalToolbarBtnHover.gif') no-repeat top center;
	width: 22px !important;
	height: 25px !important;
}

.office2007_radtoolbar_vertical .office2007_radtbutton_toggled,
.office2007_radtoolbar_vertical .office2007_radtbutton_hover_toggled,
.office2007_radtoolbar_vertical .office2007_radbutton_mousedown,
.office2007_radtoolbar_vertical .office2007_radtbutton_mousedown
{
	cursor: default;
	background: url('img/VerticalToolbarBtnClick.gif') no-repeat top center;
	width: 20px !important;
	height: 25px !important;
}

/* horizonatal toolbar grips */
.office2007_radtoolbar_left
{
	background: url('img/toolbarLeft.gif') no-repeat;
	width: 2px !important;
	height: 22px !important;
}

.office2007_radtoolbar_right
{
	background: url('img/toolbarRight.gif') no-repeat;
	width: 2px !important;
	height: 22px !important;
}

/* vertical toolbar grips */
.office2007_radtoolbar_top
{
	background: url('img/toolbarLeftV.gif') no-repeat;
	height: 2px;
	width: 22px;
}

.office2007_radtoolbar_bot
{
	background: url('img/toolbarRightV.gif') no-repeat;
	height: 2px;
	width: 22px;
}

/* separators */
.office2007_radseparator_h,
.office2007_radseparator_v
{
	display: none; /* this skin does not support separators */
}

/* margins fix */
/* causing problems with toolbar size 

.office2007_radtbutton_mousedown img, 
.office2007_radtbutton_mousedown span, 
.office2007_radtbutton_toggled img, 
.office2007_radtbutton_hover_toggled img,
.office2007_radbutton_mousedown img, 
.office2007_radbutton_mousedown span,
.office2007_radtbutton_text_mousedown img,
.office2007_radtbutton_text_toggled img,
.office2007_radtbutton_text_hover_toggled img,
.office2007_radbutton_text_mousedown span
{
	margin-left: 4px;
	margin-top: 1px;
	padding-left: 1px; / Mozilla FF fix 
}

*/

/* text and image buttons begin */

.office2007_radbutton_text_normal span,
.office2007_radbutton_text_hover span,
.office2007_radbutton_text_mousedown span
{
	
}

.office2007_radtbutton_text_normal,
.office2007_radbutton_text_normal
{
	color: #4d4d4d;
	height: 20px !important;
	border-left: solid 1px #d1e0f2;
	border-right: solid 1px #d1e0f2;
}

.office2007_radtbutton_text_hover,
.office2007_radbutton_text_hover,
.office2007_radbutton_text_mousedown
{
	background: url('img/TextButtonBg.gif') repeat-x;
	color: #4d4d4d;
	cursor: default;
	height: 22px !important;
	border-left: solid 1px #d1e0f2;
	border-right: solid 1px #d1e0f2;
}

.office2007_radtbutton_text_mousedown,
.office2007_radtbutton_text_toggled,
.office2007_radtbutton_text_hover_toggled,
.office2007_radbutton_text_mousedown
{
	background: url('img/TextButtonBgClicked.gif') repeat-x;
	color: #fff;
	cursor: default;
	height: 22px !important;
	border-left: solid 1px #d1e0f2;
	border-right: solid 1px #d1e0f2;
}

.office2007_radbutton_text_disabled span
{
	height: 20px !important;
	color: #808080;
	cursor: default;
}