/* r.a.d.menu Plain skin */

.RadMenu_Default 
{
	background: #ececec url('img/MenuItemBackground.gif') repeat-x;
	border-top: solid 1px #e5e5e5;
	border-right: solid 1px #e5e5e5;
	border-bottom: solid 1px #bbbbbb;
	border-left: solid 1px #bbbbbb;
}

.RadMenu_Default_Context
{
	background: none;
	border:0;
}

.RadMenu_Default .link
{
	line-height: 20px;
	text-decoration:none;
	color: #666;
	background: #ececec url('img/MenuItemBackground.gif') repeat-x;
	border-left: solid 1px #fff;
	border-right: solid 1px #d6d6d6;
}

.RadMenu_Default .link:hover,
.RadMenu_Default .focused,
.RadMenu_Default .expanded
{
	color: #000;
}

.RadMenu_Default .text
{
	padding-left: 10px;	
	padding-right: 36px;
	font-size: 11px;
	font-family: Arial, Verdana;
}

.RadMenu_Default .group
{
	border: solid 1px #bbbbbb;
	border-right: 0px;
	border-bottom: 0px;
}

.RadMenu_Default .group .link
{
	background: #f7f7f7;
	border-top: solid 1px #fff;
	border-bottom: solid 1px #d7d7d7;
	text-align: left;
}

.RadMenu_Default .group .link:hover,
.RadMenu_Default .group .focused,
.RadMenu_Default .group .expanded
{
	background: #ededed;
	border-bottom-color: #d7d7d7;
	font-weight: normal;
}

.RadMenu_Default .leftArrow,
.RadMenu_Default .rightArrow,
.RadMenu_Default .topArrow,
.RadMenu_Default .bottomArrow,
.RadMenu_Default .leftArrowDisabled,
.RadMenu_Default .rightArrowDisabled,
.RadMenu_Default .topArrowDisabled,
.RadMenu_Default .bottomArrowDisabled
{
	background: #ededed url('img/left.gif') center center no-repeat;
	width:15px;
}

.RadMenu_Default .topArrow,
.RadMenu_Default .topArrowDisabled
{
	background-image:url('img/top.gif');
	width:100%;
}

.RadMenu_Default .bottomArrow,
.RadMenu_Default .bottomArrowDisabled
{
	background-image:url('img/bottom.gif');
	width:100%;
}

.RadMenu_Default .rightArrow,
.RadMenu_Default .leftArrow
{
	height:100%;
}

.RadMenu_Default .rightArrow,
.RadMenu_Default .rightArrowDisabled
{
	background-image: url('img/right.gif');
}

.RadMenu_Default .vertical .separator .text
{
	padding-top: 2px;
	background: #ccc;
	font-size: 1px;
}

.RadMenu_Default .expandLeft,
.RadMenu_Default .expandRight
{
	background: transparent url(img/groupImage.gif) right center no-repeat;
	margin-right: 4px;
}

.RadMenu_Default_rtl .expandLeft,
.RadMenu_Default_rtl .expandRight
{
	background: url(img/groupImageRTL.gif) left center no-repeat;
}

.RadMenu_Default .link:hover .expandLeft,
.RadMenu_Default .link:hover .expandRight,
.RadMenu_Default .focused .expandLeft,
.RadMenu_Default .focused .expandRight,
.RadMenu_Default .expanded .expandLeft,
.RadMenu_Default .expanded .expandRight
{
	background:transparent url(img/invertedGroupImage.gif) right center no-repeat;
}

.RadMenu_Default_rtl .link:hover .expandLeft,
.RadMenu_Default_rtl .link:hover .expandRight,
.RadMenu_Default_rtl .focused .expandLeft,
.RadMenu_Default_rtl .focused .expandRight,
.RadMenu_Default_rtl .expanded .expandLeft,
.RadMenu_Default_rtl .expanded .expandRight
{
	background:transparent url(img/groupImageRTL.gif) left center no-repeat;
}