/* Telerik RadInput Vista skin */

.radInput_Vista
{
	font:11px "segoe ui",arial,sans-serif;
	vertical-align: middle;
}

.radInput_Vista table
{
	vertical-align:bottom;
}

.radInput_Vista table,
.radInput_Vista table td
{
	border: 0;
	margin: 0;
	padding: 0;
	overflow:visible;
}

.radInput_Vista td.inputCell 
{		
	padding: 0 4px 0 0;				
}

.radInput_Vista textarea
{
	vertical-align:bottom;
	overflow:auto;
}

/* SPIN BUTTONS */

.radInput_Vista .spinImgCell
{
	vertical-align:middle;
}

.radInput_Vista a.spinbutton
{
	display: block;
	text-indent: -9999px;
	width: 14px;
	height: 8px; 
	line-height: 8px;
	background: transparent url('Img/SpinButtonSprites.gif') center 2px no-repeat;
	font-size: 1px;
	position: relative;
	_position: static; /*IE fix*/
	outline: none;	
	z-index:2;
}
*+html .radInput_Vista a.spinbutton
{
	position: static;
}

.radInput_Vista a.up
{
	background-position: center 2px;
}

.radInput_Vista a.down
{
	background-position: center -9px;
}

.radInput_Vista a.gobutton
{
	display: block;
	text-indent: -9999px;
	width: 20px;
	height: 16px; 
	line-height: 16px;
	background: transparent url('Img/button.gif') no-repeat;
	font-size: 1px;
	position: relative;
	_position: static; /*IE fix*/
	outline: none;
}
*+html .radInput_Vista a.gobutton
{
	position: static;
}

/* INPUT STYLES SETTINGS */

.radEnabledCss_Vista,
.radEmptyMessageCss_Vista,
.radHoverCss_Vista,
.radFocusedCss_Vista,
.radNegativeCss_Vista,
.radDisabledCss_Vista,
.radInvalidCss_Vista
{
	font:11px "segoe ui",arial,sans-serif;
	padding:2px 0 2px 1px;
}

.radEnabledCss_Vista 
{
	color:#000;
	border:solid 1px;
	border-color:#abadb3 #dbdfe6 #e3e9ef #e2e3ea;
}

.radHoverCss_Vista 
{
	color:#000;	
	border:solid 1px;
	border-color:#5794bf #b7d5ea #c7e2f1 #c5daed;
}

.radDisabledCss_Vista
{
	color:#ccc;
	background:#f0f0f0;
	border:solid 1px #aeaeae;
}

.radEmptyMessageCss_Vista
{
	color: #333;
	border:1px solid;
	border-color:#abadb3 #dbdfe6 #e3e9ef #e2e3ea;
}

.radFocusedCss_Vista
{
	border:1px solid;
	border-color:#3d7bad #a4c9e3 #b7d9ed #b5cfe7;
	color:#000;	
}

.radNegativeCss_Vista 
{
	color:#333;
	border:solid 1px;
	border-color:#abadb3 #dbdfe6 #e3e9ef #e2e3ea;
}

.radInvalidCss_Vista 
{
	border:1px solid;
	border-color:#abadb3 #dbdfe6 #e3e9ef #e2e3ea;
	color: #ff4800;
}

.radLabelCss_Vista
{	  
	color: #000;
	font:11px "segoe ui",arial,sans-serif;
	white-space:nowrap;
}

.radHint_Vista 
{
	background:url(Img/hintBg.gif) repeat-x #e4e5f0;
	border:1px solid #959598;
	margin:5px 0 0 5px;
	padding:4px;
	font:normal 11px "segoe ui",arial,tahoma,sans-serif;
	text-align:left;
}

.radHint_Vista a,
.radHint_Vista a:visited,
.radHint_Vista a:hover
{
	margin: 2px;
	color: black;
	text-decoration: none;
}


.radLabelCss_VistaBlink
{	  
	color: #000;
	font:11px "segoe ui",arial,sans-serif;
	white-space:nowrap;
	padding-right: 2px;
}